@use '@styles/colors' as *;
@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.welcome {
  min-height: 1020px;
  background: center center / cover no-repeat
    url('@/assets/images/home-page-bg.webp');

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: Podcast, sans-serif;
  color: $white;
  font-weight: $fw400;
  font-size: $fs72;
  margin-bottom: 16px;
  text-align: center;
}

.subtitle {
  color: $white;
  font-weight: $fw700;
  font-size: $fs24;
  margin-bottom: 60px;
  text-align: center;
}

.underlay {
  @include underlayBackground();
  padding: 20px;
  border-radius: 12px;
}

@media (max-width: $desktopFull) {
  .welcome {
    min-height: 1220px;
  }
}

@media (max-width: $desktopS) {
  .welcome {
    min-height: 1100px;
  }

  .title {
    font-size: $fs48;
  }

  .subtitle {
    font-size: $fs20;
  }
}
