@use '@styles/colors' as *;
@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.advantages {
  padding: 83px 0;
  @include gradientBackground();
}

.wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 24px;
}

.item {
  @include underlayBackground();
  border-radius: 24px;
  padding: 30px;
  text-align: center;
  width: 200px;
}

.image {
  height: 60px;
  width: auto;
}

.text {
  font-weight: $fw600;
  font-size: $fs20;
  color: $black;
  margin-top: 12px;
}
