@use 'colors' as *;
@use 'variables' as *;

@mixin button {
  color: $white;
  font-weight: $fw600;
  font-size: $fs20;
  padding: 10px 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 50px;
}

.buttonBase {
  @include button;

  &:hover {
    color: $accent;
  }
}

.buttonPrimary {
  @include button;
  padding: 10px 24px;
  background-color: $accent;

  &:hover {
    color: $dark;
    opacity: 0.75;
  }
}

.buttonSecondary {
  @include button;
  padding: 10px 24px;
  background-color: $gray;

  &:hover {
    background-color: $dark;
    color: $white;
    opacity: 0.33;
  }
}

.buttonOutlineBase {
  @include button;
  color: $white;
  border: 1px solid $white;
  padding: 10px 24px;
  background-color: transparent;

  &:hover {
    opacity: 0.6;
  }
}

.buttonOutlineAccent {
  @include button;
  color: $accent;
  border: 1px solid $accent;
  padding: 10px 24px;
  background-color: transparent;

  &:hover {
    opacity: 0.6;
  }
}
