// font-weight
$fw400: 400;
$fw600: 600;
$fw700: 700;
$fw800: 800;

// font-size
$fs14: 14px;
$fs16: 16px;
$fs18: 18px;
$fs20: 20px;
$fs24: 24px;
$fs32: 32px;
$fs48: 48px;
$fs72: 72px;

// breakpoints
$mobile: 480px;
$tablet: 768px;
$desktopS: 992px;
$desktop: 1200px;
$desktopFull: 1320px;
