@use '@styles/colors' as *;
@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.bookBike {
  padding: 60px 0;
  @include gradientBackground();
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.title {
  text-align: center;
  font-weight: $fw800;
  font-size: $fs32;
}

.image {
  position: relative;
  bottom: -95px;
  max-width: 625px;
  height: auto;
}

.underlay {
  @include underlayBackground();
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  border-radius: 12px;
  width: 600px;
  gap: 24px;
  margin-top: 36px;
}

.input {
  display: flex;
  flex-direction: column;
  flex: calc(50% - 12px);

  & > label {
    font-weight: $fw600;
  }

  & > :nth-child(2) {
    margin-top: 8px;
    background-color: $white;
    border-radius: 4px;
  }
}

@media (max-width: $desktopFull) {
  .image {
    display: none;
  }

  .wrapper {
    justify-content: center;
  }
}

@media (max-width: $tablet) {
  .underlay {
    width: auto;
  }

  .input {
    flex: 100%;
  }
}
